#include "rcstuff.h"
#include "putty-rc.h"

#define APPNAME "PuTTY-WebView"
#define APPDESC "Modern Web-based PuTTY / ConPTY Terminal"

IDI_MAINICON ICON "putty.ico"
IDI_CFGICON ICON "puttycfg.ico"

#include "help.rc2"
#include "putty-common.rc2"

#ifndef NO_MANIFESTS
1 RT_MANIFEST "putty.mft"
#endif /* NO_MANIFESTS */

#define IDR_WEBVIEW_ASSETS_ZIP      2000
#define IDR_WEB_INDEX_HTML          2001
#define IDR_WEB_XTERM_JS            2002
#define IDR_WEB_XTERM_CSS           2003
#define IDR_WEB_FIT_ADDON_JS        2004
#define IDR_WEB_WEBLINKS_ADDON_JS   2005
#define IDR_WEB_EDITOR_HTML         2006
#define IDR_BIN_PSFTP               2007
#define IDR_BIN_PLINK               2008

IDR_WEBVIEW_ASSETS_ZIP      RCDATA "webview/webview_assets.zip"
IDR_WEB_INDEX_HTML          RCDATA "webview/web/index.html"
IDR_WEB_XTERM_JS            RCDATA "webview/web/xterm.js"
IDR_WEB_XTERM_CSS           RCDATA "webview/web/xterm.css"
IDR_WEB_FIT_ADDON_JS        RCDATA "webview/web/xterm-addon-fit.js"
IDR_WEB_WEBLINKS_ADDON_JS   RCDATA "webview/web/xterm-addon-web-links.js"
IDR_WEB_EDITOR_HTML         RCDATA "webview/web/editor.html"
IDR_BIN_PSFTP               RCDATA "webview/bin/psftp.exe"
IDR_BIN_PLINK               RCDATA "webview/bin/plink.exe"



